.sosuo_icon,.geren_hover_icon,.zixun_hover_icon, .geren_bg{
    background: url(../images/sprites.png) no-repeat;
    display: block;
    
}
.sickness{
    background: url(../images/sprites.png) no-repeat;
    display: block;
    margin: 14px auto;
    height: 26px;
    background-size: 414px auto;
    margin: 20px auto;
}

.gaoxueya_icon{
    background-position: -127px 0px;
    width: 32px;
}
.tangniaobin_icon{
    background-position: -291px -26px;
    width: 25px;
    
}
.shenbin_icon {
    background-position: -277px 1px;
    width: 35px;
}
.xiaochuan_icon {
    background-position: -372px 0;
    width: 24px;
}
.binggan_icon {
    background-position: -26px 0px;
    width: 38px;
}
.gaozhixuezheng_icon {
    background-position: -159px 0;
    width: 21px;
}
.feiai_icon {
    background-position: -95px 0;
    width: 31px;
}
.qinleixian_icon {
    background-position: -200px -27px;
    width: 34px;
}
.luanchaoai_icon{
    background-position: -100px -28px;
    width: 52px;
}
.leifengshi_icon {
    background-position: -65px 0;
    width: 29px;
}
.gongjinai_icon {
    background-position: -216px 1px;
    width: 41px;
}
.ruxianai_icon {
    background-position: -235px -26px;
    width: 55px;
}
.guanxinbing_icon {
    background-position: -258px 1px;
    width: 17px;
}
.toujinai_icon {
    background-position: -312px 0;
    width: 29px;
}
.weiai_icon {
    background-position: -342px 0;
    width: 29px;
}

.jiechangai_icon {
    background-position: 0 -27px;
    width: 23px;
}
.genduo_icon {
    background-position: -183px 5px;
    width: 31px;
}
.qingguang_icon {
    background-position: -153px -29px;
    width: 46px;
}
.xinshuai_icon {
    background-position: -317px -28px;
    width: 30px;
}
.langchuangshenyan_icon {
    background-position: -63px -27px;
    width: 36px;
}
.kuiyangjiechang {
    background-position: -348px -27px;
    width: 37px;
}
.keluoenbin_icon {
    background-position: -24px -26px;
    width: 37px;
    height: 31px;
    margin-bottom: 15px;
}
.aitong_icon {
    background-position: 0 0;
    width: 26px;
}


.nav_icon {
    background: url(../images/sprites.png) no-repeat;
    display: block;
    
    background-size: 414px auto;
    
    height: 23px;
    margin: 0px auto;
}
.zhaoyao_hover_icon {
    background-position: -120px -57px;
    width: 21px;
}
.zhaocishan_hover_icon {
  background-position: -46px -59px;
  width: 24px;
}
.zhaoyao_icon {
  background-position: -97px -59px;
  width: 21px;
}
.zhaocishan_icon {
    background-position: -72px -59px;
    width: 24px;
}
.geren_icon {
    background-position: -22px -60px;
    width: 21px;
}
.zixun_icon {
    background-position: -161px -56px;
    width: 14px;
}

















.sosuo_icon{
    background-position: -533.9895629882812px -184.9739532470703px ;
    width: 42px;
    height: 42px;
}
.sosuo_icon {
    background-position: -266.989563px -91.973953px;
    width: 22px;
    height: 22px;
    background-size: 621px auto;
}

.geren_hover_icon{
    background-position: 0 -179.9765625px ;
    width: 63px;
    height: 62px;
}

.zixun_hover_icon{
    background-position: -435.98956298828125px -172.96875px ;
    width: 42px;
    height: 62px;
}


.geren_bg{
    background-position: 0 -250px ;
    width: 1242px;
    height: 180px;
}

